<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!-- Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <title>The Luxury</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <a class="navbar-brand" href="#"><img class="logo-taxi" src="/img/Logo-taxi.png" alt="logo-taxi"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#features">Benefícios</a>
            <a class="nav-item nav-link" href="#depoiments">Depoimentos</a>
          </div>
        </div>
      </nav>
    <main>
        <section class="main-screen container">
            <div class="main-item">
                <h1>Ganhe até R$4000
                    como taxista
                    na The Luxury</h1>
                <img  class="observeMe" src="/img/bg.png" alt="background car" width="100%">
            </div>
            <div class="main-item">
                    <h1>Contecte-se agora mesmo</h1>
                <span>É bem rapidinho</span>
                <form action="/register" method="POST" class="form-control">
                    <div class="form-group">
                        <label for="name"><img src="/img/user.png" width="25px"></label>
                        <input type="text" name="name" required placeholder="Digite seu nome">
                    </div>
                    <div class="form-group">
                        <label for="email"><img src="/img/email-register.png" width="25px"></label>
                        <input type="email" name="email" required placeholder="Digite seu melhor e-mail">
                    </div>
                    <div class="form-group">
                        <label for="tel"><img src="/img/cellphone.png" width="25px"></label>
                        <input type="tel" name="tel" required placeholder="Digite seu número de telefone">
                    </div>
                    <div class="btn-form">
                        <div class="light"></div>
                        <input type="submit" value="Enviar">
                    </div>
                    <div class="checkbox d-flex-center">
                        <label><input type="checkbox" name="checkbox" checked>
                            Ao enviar as informações eu aceito os <a href="#">termos
                                de uso da The Luxury</a></label>
                    </div>
                </form>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="img img-1"></div>
                    <p>Baixe o aplicativo Luxury+</p>
                    <img src="/img/mac.svg" alt="mac & ios" width="60px">
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="img img-2"></div>
                    <p>Cobertura no Brazil inteiro</p>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="img img-3"></div>
                    <p>Serviço disponível a qualquer momento</p>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <div class="img img-4"></div>
                    <p>Pague tranquilamente utilizando seu cartão no App</p>
                </div>
            </div>
        </section>
        <section class="container d-flex-center flex-column"  id="features">
            <div class="infocard d-flex-center w-100">
                <div class="w-50 text-center photo-1 photo"></div>
                <div class="w-50 text-center">
                    <h1>Encomendas à sua escolha</h1>
                    <p>Estão disponíveis vários tipos de distribuição de ordens: atribuição automática de 
                        uma ordem com prioridade entre outros motoristas e bônus pessoais, atribuição de uma
                         ordem com possibilidade de recusa de sua execução, seleção de ordens em uma lista.</p>
                </div>
            </div>
            <div class="infocard d-flex-center w-100">
                <div class="w-50 photo photo-2"></div>
                <div class="w-50 text-center">
                    <h1>Agregador favorável e comissões de parque</h1>
                    <p>Comissão Yandex Taxi para carros de marca de 15% e comissão de frota de 3%. Bônus e 
                        metas pessoais, renda garantida por determinado número de horas de plantão.</p>
                </div>
            </div>
            <div class="infocard d-flex-center w-100">
                <div class="w-50 text-center photo-3 photo"></div>
                <div class="w-50 d-flex-center flex-column text-center">
                    <h1>Retirada instantânea a qualquer hora do dia</h1>
                    <p>Use a interface conveniente de retirada em nosso site para isso.</p>
                    <div class="btn-form w-50">
                        <a href="#">Solicitar serviço</a>
                    </div>
                </div>
            </div>
            <div class="infocard d-flex-center w-100">
                <div class="w-50 text-center photo-4 photo"></div>
                <div class="w-50 d-flex-center flex-column text-center">
                    <h1>Suporte qualificado e rápido</h1>
                    <p>Ligue-nos durante o horário comercial ou escreva para o messenger - 
                        seu problema não ficará sem solução.</p>
                    <div class="btn-form w-50">
                        <a href="#">Contatos</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="container statistics text-center">
            <div class="d-flex-center flex-column w-100">
                <div class="d-flex justify-content-around w-100">
                    <div class="row w-100">
                        <div class="col-lg-3 col-sm-6 text-center">
                            <h1>12 600+</h1>
                            <p>Motoristas</p>
                        </div>
                        <div class="col-lg-3 col-sm-6 text-center">
                            <h1>24</h1>
                            <p>Escritorios ao redor do Brasil</p>
                        </div>
                        <div class="col-lg-3 col-sm-6 text-center">
                            <h1>540+</h1>
                            <p>Funcionários</p>
                        </div>
                        <div class="col-lg-3 col-sm-6 text-center">
                            <h1>88 000+</h1>
                            <p>Pedidos por dia</p>
                        </div>
                    </div>
                </div>
                <div class="btn-form w-50">
                    <div class="light"></div>
                    <a href="#">Junte-se à The Luxury</a>
                </div>
            </div>
    
        </section>
        <section class="container ratings text-center" id="depoiments">
            <h1>Depoimento de clientes da The Luxury</h1>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cards">
                            <div class="cards-img">
                                <img src="/img/person-1.png" alt="">
                            </div>
                            <div class="card-content">
                                <h1>Abigail</h1>
                                <p>"A The Luxury redefine o que é viajar com estilo e conforto. Um serviço inigualável!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cards">
                            <div class="cards-img">
                                <img src="/img/person-2.png" alt="">
                            </div>
                            <div class="card-content">
                                <h1>Josh</h1>
                                <p>"Pedi um táxi da The Luxury depois de um dia exaustivo... Cara, que mordomia! Me senti um rei!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cards">
                            <div class="cards-img">
                                <img src="/img/person-3.png" alt="">
                            </div>
                            <div class="card-content">
                                <h1>Sophie</h1>
                                <p>"Nada como ouvir uma boa música, no ar condicionado, depois de um dia de trabalho. The Luxury, vocês salvaram minha noite!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cards">
                            <div class="cards-img">
                                <img src="/img/person-4.png" alt="">
                            </div>
                            <div class="card-content">
                                <h1>Mila</h1>
                                <p>"Quando o motorista abriu a porta pra mim e ainda me desejou um bom dia, aí percebi que estava na The Luxury. Que tratamento!"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <div class="back-top">
            <a href="#">
                <img src="/img/back-top.png" alt="back-top" width="50px" height="50px">
            </a>
        </div>
    </main>
    <footer class="container d-flex justify-content-between">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6">
                <p>Copyright © 2023 Vinicius Costa. All rights reserved.</p>
            </div>
            <div class="d-flex-center links col-sm-6 col-lg-6 col-md-6">
                <div class="footer-subitem">
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="footer-subitem">
                    <a href="#">Terms of Use </a>
                </div>
                <div class="footer-subitem">
                    <a href="#">Sales and Refunds</a>
                </div>
                <div class="footer-subitem">
                    <a href="#">Legal</a>
                </div>
                <div class="footer-subitem">
                    <a href="#"> Site Map</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/opacity-images.js"></script>
  </body>
</html>