<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!-- Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <title>The Luxury</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <a class="navbar-brand" href="#"><img class="logo-taxi" src="/img/Logo-taxi.png" alt="logo-taxi"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Voltar</a>
          </div>
        </div>
    </nav>
    <main class="response-main container d-flex-center align-items-center">
            <div class="d-flex-center h-100 flex-column align-items-center">
                <a class="navbar-brand" href="#"><img class="logo-taxi" src="/img/Logo-taxi.png" alt="logo-taxi"></a>
                <h1><%= final_result %></h1>
                <div class="btn-form w-50">
                    <div class="light"></div>
                    <a href="/">Voltar</a>
                </div>
            </div>
    </main>
</body>
</html>